## CREATE SYMBLINK BY VENDOR - PRODUCT ID
# SUBSYSTEM=="tty", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="7523", SYMLINK+="ttyGM70"

## CREATE SYMBLONK BY USB LOCATION
# SUBSYSTEM=="tty", ATTRS{devpath}=="1.5", SYMLINK+="ttyGM70"